In [ ]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd

from newrow import newrow_cash, newrow_etf_stock, fancy_df
from utils import broker_fee, get_date, round_half_up
from fetch_data import fetch_ter

pd.set_option('display.max_columns', None)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Importa il report:
- Per iniziare da zero con un report nuovo, importare `report-template.csv`
- Altrimenti importare `report.csv`
- Una volta svolte le operazioni, per salvare le modifiche seguire le istruzioni in fondo al notebook

In [22]:
df = pd.read_csv("reports/report.csv")  # Da zero: reports/report-template.csv

## Visualizza il report:

In [75]:
df

,Data,Operazione,SIM,Prodotto,ISIN,Asset Name,TER,Valuta,QT. Scambio,Prezzo,Prezzo EUR,Imp. Nominale Operaz.,Commissioni,QT. Attuale Asset,PMPC Asset,Imp. Residuo Asset,Imp. Effettivo Operaz.,Costo Rilasciato,Plusv. Lorda,Minusv. Generata,Scadenza,Zainetto Fiscale,Plusv. Imponibile,Imposta,Netto,Liquidita Attuale,Valore Titoli,NAV,Liq. Storica Immessa
0,30-05-2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.0
1,30-05-2025,deposit,BG Saxo,NaN,NaN,NaN,NaN,EUR,NaN,NaN,NaN,200.000000,NaN,NaN,NaN,NaN,200.000000,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,200.000000,0.000000,200.000000,200.0
2,30-05-2025,buy,BG Saxo,Stock,US46222L1089,IONQ INC,NaN,USD,+4,-41.0000,-36.2829,-145.131472,0.882736,4.0,36.503552,146.014208,-146.014208,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,53.985792,145.131472,199.117264,200.0
3,10-06-2025,deposit,BG Saxo,NaN,NaN,NaN,NaN,EUR,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,153.985792,145.131472,299.117264,300.0
4,10-06-2025,buy,BG Saxo,Stock,US74766W1080,QUANTUM COMPUTING INC,NaN,USD,+9,-15.8779,-13.9365,-125.428154,0.875533,9.0,14.033743,126.303687,-126.303687,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,27.682105,270.559626,298.241731,300.0
5,16-06-2025,sell,BG Saxo,Stock,US74766W1080,QUANTUM COMPUTING INC,NaN,USD,-9,19.1320,16.4671,148.204106,0.858559,0.0,0.000000,0.000000,147.345547,126.303687,21.04186,0.0,NaN,0.0,21.04186,5.470884,15.570976,169.556768,144.255939,313.812707,300.0

In [74]:
fancy_df(df)

,Data,Operazione,SIM,Prodotto,ISIN,Asset Name,TER,Valuta,QT. Scambio,Prezzo,Prezzo EUR,Imp. Nominale Operaz.,Commissioni,QT. Attuale Asset,PMPC Asset,Imp. Residuo Asset,Imp. Effettivo Operaz.,Costo Rilasciato,Plusv. Lorda,Minusv. Generata,Scadenza,Zainetto Fiscale,Plusv. Imponibile,Imposta,Netto,Liquidita Attuale,Valore Titoli,NAV,Liq. Storica Immessa
0,30-05-2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,0.00,0.00,0.0
1,30-05-2025,deposit,BG Saxo,NaN,NaN,NaN,NaN,EUR,NaN,NaN,NaN,200.00,NaN,NaN,NaN,NaN,200.00,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,200.00,0.00,200.00,200.0
2,30-05-2025,buy,BG Saxo,Stock,US46222L1089,IONQ INC,NaN,USD,+4,-41.0000,-36.2829,-145.13,0.88,4.0,36.50,146.01,-146.01,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,53.99,145.13,199.12,200.0
3,10-06-2025,deposit,BG Saxo,NaN,NaN,NaN,NaN,EUR,NaN,NaN,NaN,100.00,NaN,NaN,NaN,NaN,100.00,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,153.99,145.13,299.12,300.0
4,10-06-2025,buy,BG Saxo,Stock,US74766W1080,QUANTUM COMPUTING INC,NaN,USD,+9,-15.8779,-13.9365,-125.43,0.88,9.0,14.03,126.30,-126.30,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,27.68,270.56,298.24,300.0
5,16-06-2025,sell,BG Saxo,Stock,US74766W1080,QUANTUM COMPUTING INC,NaN,USD,-9,19.1320,16.4671,148.20,0.86,0.0,0.00,0.00,147.35,126.3,21.04,0.0,NaN,0.0,21.04,5.47,15.57,169.56,144.26,313.81,300.0

### *Rimuovi manualmente l'ultima riga:*
- La cella qui sotto rimuove l'ultima riga del report. E' un "tasto elimina" manuale. 
- Ad esempio runnando la cella 3 volte rimuovo le ultime 3 righe

In [62]:
df = df.iloc[:-1]

## Programma principale
- Runnare la cella sottostante per avviare il programma e seguire le istruzioni a schermo

### IMPLEMENTATI:

1. ~~Liquidity~~
2. ~~ETF~~  check aggiuntivi
3. ~~Stock~~
4. `TODO` Bond
5. ~~Esci dal programma~~
- `todo` Controlli più strict sui broker (adesso se sbagli input defaulta a 0 fee)
- `TODO` Gestione separata intermediari

In [66]:
def choice_etf_stock(df, choice="ETF"):
    
    date = get_date(df)
    brk = int(input("Seleziona intermediario (SIM) (1. Fineco, 2. BG Saxo): "))
    currency = int(input("Seleziona valuta (1. EUR, 2. USD): "))
    
    conv_rate = 1.0
    if currency == 2:
        conv_rate = float(input("Inserisci tasso di conversione: "))

    isin = input("Inserisci ISIN: ")

    qt = input("Inserisci quantità (intero positivo): ")
    if not (qt.isdigit() and int(qt) > 0):
        raise ValueError("Quantità non valida. Deve essere un intero positivo.")
    else:
        quantity = int(qt)

    price = float(input("Inserisci prezzo unitario (negativo se acquisto): "))
    if price == 0:
        raise ValueError("Il prezzo non può essere 0€.\nNegativo se acquisto, positivo se vendita.")
    price_og = price

    broker, fee = broker_fee(brk, choice, conv_rate, trade_value=quantity * abs(price_og*conv_rate))

    price = price * conv_rate

    if price < 0:   # buy
        buy = True
        difference = df["Liquidita Attuale"].iloc[-1] + (quantity * price - fee)
        #if difference < 0:
        #    raise ValueError(f"Liquidità insufficiente: {df["Liquidita Attuale"].iloc[-1]}€ {quantity * price - fee}€ = {difference}€")
    
    else:           # sell
        buy = False
    
    ter = np.nan
    if choice == "ETF":
        ter, err = fetch_ter(isin)
        if not ter:
            print(err)
            ter = input("Inserisci TER manualmente: ")

    return newrow_etf_stock(df, date, "EUR" if currency==1 else "USD", choice, isin, quantity, price_og, price, ter, broker, fee, buy)

In [71]:
def main_menu():
    print("\n1. Liquidità")
    print("2. ETF")
    print("3. Azioni")
    print("4. Obbligazioni")
    print("5. Visualizza statistiche...")
    print("6. Esci dal programma")

while True:
    main_menu()
    choice = input("Seleziona operazione (1 2 3 4 5 6): ")

    # CASH
    if choice == '1':

        date = get_date(df)

        brk = int(input("Seleziona intermediario (SIM) (1. Fineco, 2. BG Saxo): "))
        brokers = {
            1: "Fineco",
            2: "BG Saxo",
        }
        broker = brokers.get(brk, "SIM non riconosciuto")
        
        cash = float(input("Inserisci contante da depositare o prelevare: "))
        if cash == 0.0:
            raise ValueError("Il contante inserito non può essere 0€.\nPositivo se depositato, negativo se prelevato.")
        
        
        df = newrow_cash(df, date, cash, broker)
    
    # ETF
    elif choice == '2':
        df = choice_etf_stock(df, choice="ETF")

    
    elif choice == '3':
        df = choice_etf_stock(df, choice="Stock")

    elif choice == '4':
        print("Implementa Obbligazioni")

    elif choice == '5':
        pl = df["Netto"].sum()
        print(f"\nP&L Totale: {round_half_up(pl)}€")
        
    elif choice == '6':
        print("Esco dal programma...")
        break
    
    else:
        print("Scelta non valida. Riprova.")

1. Liquidità
2. ETF
3. Azioni
4. Obbligazioni
5. Visualizza statistiche...
6. Esci dal programma

1. Liquidità
2. ETF
3. Azioni
4. Obbligazioni
5. Visualizza statistiche...
6. Esci dal programma

1. Liquidità
2. ETF
3. Azioni
4. Obbligazioni
5. Visualizza statistiche...
6. Esci dal programma

1. Liquidità
2. ETF
3. Azioni
4. Obbligazioni
5. Visualizza statistiche...
6. Esci dal programma
Esco dal programma...

## Salva il report
- Di default sovrascrive `report.csv`
- Per salvare invece in nuovo file, cambiare `report.csv` nel nome desiderato

In [76]:
df.to_csv("reports/report.csv", index=False)    # Esempio nuovo file: reports/nuovo-report.csv